In [1]:
import pandas

In [2]:
vines_df = pandas.read_csv("vine.csv")

In [3]:

vines_df = vines_df.dropna()
vines_df = vines_df.drop_duplicates()
vines_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y

In [4]:
votes_greater_than_20 = vines_df[vines_df.total_votes >= 20]
votes_greater_than_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302395,R3MS5E3IRFK9MN,1.0,6.0,45.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [5]:
greater_than_50 = votes_greater_than_20[votes_greater_than_20.helpful_votes / votes_greater_than_20.total_votes >= .5]
greater_than_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [6]:
vine_paid = greater_than_50[greater_than_50.vine == "Y"]
vine_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N
...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N

In [7]:
vine_not_paid = greater_than_50[greater_than_50.vine == "N"]
vine_not_paid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [8]:
total_number_of_reviews = vines_df.review_id.count()
total_number_of_reviews

2302392

In [9]:
five_star = vines_df[vines_df.star_rating == 5][["star_rating"]].count()
five_star

star_rating    1434884
dtype: int64

In [10]:
percentage_5_star_paid = vine_paid[vine_paid.star_rating == 5][["star_rating"]].count() / vine_paid.review_id.count()
print("total paid 5 star",vine_paid[vine_paid.star_rating == 5][["star_rating"]].count())
percentage_5_star_paid

total paid 5 star star_rating    56
dtype: int64

star_rating    0.523364
dtype: float64

In [11]:
percentage_5_star_not_paid = vine_not_paid[vine_not_paid.star_rating == 5][["star_rating"]].count() / vine_not_paid.review_id.count()
print("total unpaid 5 star",vine_not_paid[vine_not_paid.star_rating == 5][["star_rating"]].count())
percentage_5_star_not_paid

total unpaid 5 star star_rating    21005
dtype: int64

star_rating    0.52685
dtype: float64

In [21]:
summary_df = pandas.DataFrame({
    "Total (paid and unpaid)": str((five_star / total_number_of_reviews).item()).split(".")[2],
    "Percentage Vine Paid": str(percentage_5_star_paid.item()),
    "Percentage Vine Unpaid": str(percentage_5_star_not_paid.item())
}, index=["5 Star Percentage"])

summary_df

IndexError: list index out of range